.Member {
	.boxInput {
		display: flex;
		padding: 10px 0;
		margin: 10px 0;
		align-items: center;
		.tit {
			font-weight: bold;
			width: 20%;
		}
		input {
			width: 80%;
			padding: 5px;
			background: transparent;
			border-bottom: 1px solid rgb(223, 223, 223);
		}
		textarea {
			width: 80%;
			border: 1px solid rgb(223, 223, 223);
			resize: none;
			padding: 10px;
			box-sizing: border-box;
		}
		.groupInput {
			display: flex;
			width: 80%;
			select {
				width: 100%;
				max-width: 30%;
				padding: 5px;
				background: transparent;
				border: 1px solid rgb(223, 223, 223);
			}
			input {
				width: auto;
			}
			label {
				border: 1px solid rgb(223, 223, 223);
				border-radius: 20px;
			}
			.custom {
				margin-right: 25px;
				label {
					display: flex;
					-webkit-box-pack: center;
					justify-content: center;
					-webkit-box-align: center;
					align-items: center;
					width: 100px;
					height: 100%;
					padding: 3px;
					cursor: pointer;
				}
				input {
					display: none;
					&:checked + label {
						background: #444;
						color: #fff;
					}
				}
			}
		}
	}
	.error {
		font-size: 0.7rem;
		color: #f0f;
		text-align: right;
	}
	.wrapBtn {
		width: 100%;
		text-align: center;
		input {
			width: 100px;
			height: 50px;
			margin: 20px 15px 0;
			cursor: pointer;
			&.submit {
				color: #fff;
				background: #444;
			}
		}
	}
}
.tablet,
.mobile {
	.Member {
		.boxInput {
			align-items: flex-start;
			flex-direction: column;
			.tit {
				width: 100%;
				padding: 2px 0 5px;
			}
			input {
				width: 100%;
			}
			.groupInput {
				width: 100%;
				flex-wrap: wrap;
				justify-content: space-around;
				align-items: center;
				.custom {
					margin: 5px 10px;
				}
			}
			textarea {
				width: 100%;
			}
		}
	}
}
