.Gallery {
	.control {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 0 5px;
		.tab {
			display: flex;
			li {
				margin-right: 30px;
				a {
					cursor: pointer;
					&.on {
						font-weight: bold;
					}
				}
			}
		}
		form {
			border: 1px solid #ccc;
			input {
				padding: 5px 10px;
				background: transparent;
			}
			button {
				display: inline-flex;
				align-items: center;
				justify-content: center;
				width: 32px;
				height: 34px;
				background: #ccc;
				vertical-align: top;
				cursor: pointer;
			}
		}
	}
	.frame {
		width: 100%;
		margin-top: 50px;
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-start;
	}
	.pic {
		width: 25%;
		padding: 10px 5px 10px 5px;
		box-sizing: border-box;
		img {
			width: 100%;
			height: auto;
		}
	}
	.profile {
		padding: 15px 15px 30px;
		background: #fff;
		.date {
			color: #aeaeae;
			font-size: 0.7rem;
		}
		.title {
			display: block;
		}
		.desc {
			overflow: hidden;
			padding-top: 20px;
			color: #a5a5a5;
			font-size: 0.9rem;
			overflow: hidden;
			display: -webkit-box;
			-webkit-line-clamp: 6;
			-webkit-box-orient: vertical;
		}
		.name {
			display: block;
			margin-top: 50px;
			font-size: 0.8rem;
			cursor: pointer;
		}
	}
}
.tablet,
.mobile {
	.Gallery {
		.control {
			width: 100%;
			padding: 0;
			flex-direction: column;
			.tab li {
				margin: 0;
				padding: 10px 20px;
			}
			form {
				margin-top: 20px;
				input {
					height: 34px;
					box-sizing: border-box;
				}
			}
		}
	}
}
