.Layout {
	margin-top: 100px;
	section {
		width: 80vw;
		min-width: 1000px;
		margin: 100px auto;
	}
	h2 {
		position: relative;
		height: 60px;
		padding: 0 60px;
		font-size: 5rem;
		&:after {
			content: '';
			position: absolute;
			left: 0;
			bottom: 0;
			height: 1px;
			width: 100%;
			background: #dad9d7;
		}
	}
}
