.Header {
	display: flex;
	width: 100%;
	height: 80px;
	padding: 30px 80px;
	box-sizing: border-box;
	h1 {
		width: 10%;
		margin-right: auto;
	}
	ul {
		display: flex;
		li {
			padding-right: 30px;
		}
	}
}
