.Department {
	ul {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		li {
			overflow: hidden;
			display: grid;
			position: relative;
			width: 20%;
			height: 500px;
			margin: 10px 20px;
			align-items: stretch;
			grid-template-rows: 400px 100px 0;
			transition: 300ms;
			img {
				width: 100%;
				object-fit: cover;
				object-position: top;
				position: relative;
			}
			.profile {
				position: relative;
				z-index: 1;
				display: flex;
				flex-direction: column;
				justify-content: center;
				width: 100%;
				padding: 0 30px;
				box-sizing: border-box;
				background: #f4f8f7;
				strong {
					font-weight: bold;
					font-size: 1.5rem;
				}
				span {
					display: block;
					padding-top: 5px;
				}
			}
			&:hover {
				grid-template-rows: 350px 100px 50px;
				.sns {
					display: flex;
				}
				img {
					transform: scale(1.2);
					transition: 1s;
				}
			}
			.sns {
				display: none;

				a {
					flex-basis: 33.3%;
					text-align: center;
					display: flex;
					justify-content: center;
					align-items: center;
					box-sizing: border-box;
				}
				a:first-child {
					background: #d9e4ea;
				}
				a:nth-child(2) {
					background: #dcddd8;
				}
				a:last-child {
					background: #bed3d4;
				}
				a:hover {
					transition: 0.7s;
					flex-basis: 50%;
				}
			}
		}
	}
}
