.Contact {
	.addressBox {
		h3 {
			font-size: 3rem;
		}
		display: flex;
		width: 100%;
		justify-content: space-between;
		.detailAddress {
			width: 70%;
			.desc {
				padding: 0 30px;
				font-size: 0.8rem;
			}
			.liAddress {
				display: flex;
				flex-wrap: wrap;
				margin-top: 30px;
				li {
					width: calc(50% - 50px);
					border-top: 1px solid #ccc;
					padding: 20px 10px;
					margin-left: 25px;
					.officeInfo {
						dt {
							display: none;
						}
						dd {
							padding: 5px 0;
							&.title {
								font-weight: bold;
							}
						}
					}
					button {
						padding-top: 19px;
						font-weight: bold;
						font-size: 0.8rem;
						cursor: pointer;
					}
				}
			}
		}
	}
	.mapBox {
		width: 100%;
		height: 50vh;
		margin-top: 25px;
		background-color: var(--baseColor);
	}
}
.tablet,
.mobile {
	.addressBox .detailAddress {
		width: 100%;
	}
	h3 {
		display: none;
	}
}
