.Footer {
	width: 100%;
	padding: 50px 80px 25px;
	color: #fff;
	box-sizing: border-box;
	border-top: 1px solid #ccc;
	background-color: #393939;
	.inner {
		position: relative;
		display: flex;
		margin: 0 auto;
		h2 {
			font-size: 2rem;
			margin-right: 200px;
		}
		.info {
			margin-right: 150px;
			strong {
				display: block;
				padding-bottom: 30px;
				font-weight: bold;
			}
			.infoMenu li {
				padding-bottom: 8px;
				line-height: 1.2rem;
				font-weight: 100;
			}
			dl {
				font-weight: 100;
				dt {
					display: none;
				}
				dd {
					padding-bottom: 8px;
					line-height: 1.2rem;
				}
			}
		}
		.txt_copyright {
			position: absolute;
			bottom: 0;
			left: 0;
			font-size: 0.5rem;
		}
		.infoSns {
			display: flex;
			margin-top: 30px;
			margin-left: -5px;
			li {
				padding: 5px;
			}
		}
	}
}
.tablet,
.mobile {
	.Footer {
		padding: 25px 30px 10px;
		.inner {
			flex-direction: column;
			h2 {
				margin-right: 0;
			}
			.info {
				margin-right: 0;
				padding: 15px 0 15px;
				strong {
					padding-bottom: 15px;
				}
			}
		}
	}
}
